rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // 1. Herkes kendi profil verisini okuyabilir ve yazabilir
      allow read, write: if request.auth != null && request.auth.uid == userId;
      
      // 2. Bir öğretmenin öğrenciyi okuyabilmesi için öğrencinin "classCode"u 
      // ile öğretmenin "ownsClassCode"unun eşleşmesi gerekir.
      allow read: if request.auth != null && 
                     resource.data.classCode != null &&
                     resource.data.classCode == get(/databases/$(database)/documents/users/$(request.auth.uid)).data.ownsClassCode;
    }
  }
}
